.add-modif{
  color: white;
  background: green;
  font-size: 20px;
  border-width: 0px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
}

.error{
  color: white;
  background: red;
  font-size: 20px;
  border-radius: 20px;
  border-width: 0px;
  padding: 15px;
  margin-bottom: 10px;
}